/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #8deca9, #011801);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

h1 {
    color: #333;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

button {
    background: #054d2d;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #122c18;
}

#next-button {
    margin-top: 15px;
    display: none;
}

#score {
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}